@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 26px; /* Ukuran font utama pada tag <p></p> */
    background-color: #f0f0f0; /* Warna latar belakang laman web */
    color: #bb0808; /* Warna teks */ 
}
h1 {
    color: #bb0808; /* Warna tajuk (header)*/
    font-size: 57px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}

h1:hover { animation: color-change 3s infinite; }